hr {
  border-image: linear-gradient(0.25turn, #021b79, rgb(32, 175, 29), #021b79);
  border-image-slice: 1;
}
header,
footer,
.section-news {
  background: #021b79; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0575e6,
    #03249c,
    #021b79,
    #021b79,
    #03249c,
    #0575e6
  );
  background: linear-gradient(
    to right,
    #0575e6,
    #03249c,
    #021b79,
    #021b79,
    #03249c,
    #0575e6
  );
}
.ondaTop,
.ondaBottom {
  background-image: url(https://www.acs.art.br/acs%2Festrutura%2Fonda.png);
}

#itens {
  border-image: linear-gradient(
    0.25turn,
    rgb(32, 175, 29),
    rgb(28, 109, 12),
    rgb(32, 175, 29)
  );
}

.projetos .projetos1 {
  background-image: url("https://www.acs.art.br/acs%2Festrutura%2Ffundo-branco.avif");
}
.menu li a:hover,
.prev:hover,
.next:hover,
.link-projetos:hover {
  color: #0575e6;
  background-color: rgba(255, 255, 255, 0.8);
}
.active,
.dot:hover {
  border: 3px solid #0575e6;
}
.titulo,
.menu li a,
.tituloNot,
.projetos1 p,
.projetos1 h3,
.link-projetos {
  background: linear-gradient(to right, #021b79, #0575e6);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.link-projetos {
  border: 2px dashed #0575e6;
}

.footer {
  border-image: linear-gradient(
    0.25turn,
    rgb(32, 175, 29),
    rgb(28, 109, 12),
    rgb(32, 175, 29)
  );
}
.topo {
  color: rgb(28, 109, 12);
  border: solid 3px rgb(28, 109, 12);
}
