body {
  background-color: #f3e6db;
}
hr {
  border-image: linear-gradient(0.25turn, #594b42, #c48e6c, #594b42);
  border-image-slice: 1;
}
header,
footer,
.section-news {
  background: #ac7b5c; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #775641,
    #a07255,
    #ac7b5c,
    #ac7b5c,
    #a07255,
    #775641
  );
  background: linear-gradient(
    to right,
    #775641,
    #a07255,
    #ac7b5c,
    #ac7b5c,
    #a07255,
    #775641
  );
}
.ondaTop,
.ondaBottom {
  background-image: url(https://www.acs.art.br/acs%2Festrutura%2FondaCia.png);
}
#itens {
  background-color: #f3e6db;
  border-image: linear-gradient(0.25turn, #c48e6c, #594b42, #c48e6c);
}
.menu li a {
  color: #594b42;
}
.menu li a:hover {
  color: #c48e6c;
}
/* FIM HEADER E MENU */
/* SOCIAIS */
.tituloNot,
.titulo {
  background: linear-gradient(to right, #594b42, #c48e6c);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.prev:hover,
.next:hover {
  color: #c48e6c;
}
.active,
.dot:hover {
  border: 3px solid #c48e6c;
}

.slide img,
.slide video,
.slide iframe {
  background-color: white;
}
.slide::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, #594b42 10.9%, #c48e6c 62.6%);
}
.slide::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(90deg, #c48e6c 10.9%, #594b42 62.6%);
}
/* FOOTER */

.footer {
  border-image: linear-gradient(0.25turn, #c48e6c, #594b42, #c48e6c);
}
footer .logoFooter {
  height: 60%;
  align-self: center;
}
.topo {
  color: #594b42;
  border: solid 3px #c48e6c;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.267);
}
.historico h3,
.historico p a,
.mySlides p a,
.mySlides2 p a {
  color: #c48e6c;
  text-decoration: none;
}
