body {
  background-color: #ffffff;
}
hr {
  border-image: linear-gradient(0.25turn, rgb(59, 56, 56), #ff0505, rgb(59, 56, 56));
  border-image-slice: 1;
}
header,
footer,
.notIma {
  background: #a10101; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #770101,
    #a10101,
    #b80303,
    #b80303,
    #a10101,
    #770101
  );
  background: linear-gradient(
    to right,
    #770101,
    #a10101,
    #b80303,
    #b80303,
    #a10101,
    #770101
  );
}
.ondaTop,
.ondaBottom {
  background-image: url(https://www.acs.art.br/acs%2Festrutura%2Fonda.png);
}
#itens {
  background-color: #ffffff;
}
.menu li a {
  color: rgb(59, 56, 56);
}
.menu li a:hover {
  background: linear-gradient(to right,#ff0505 , #5f0101 );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
/* FIM HEADER E MENU */
/* SOCIAIS */
.tituloNot,
.titulo{
  background: linear-gradient(to right,#ff0505 , #5c0101 39%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.prev:hover,
.next:hover{
  color: #ff0505;
}
.active,
.dot:hover {
  border: 2px solid #ff0505;
}

.slide img,
.slide video,
.slide iframe {
  background-color: white;
}
.slide::-webkit-scrollbar-thumb {
  background-image: linear-gradient(90deg, rgb(59, 56, 56) 10.9%, #ff0505 62.6%);
}
.slide::-webkit-scrollbar-thumb:hover {
  background-image: linear-gradient(90deg, #ff0505 10.9%, rgb(59, 56, 56) 62.6%);
}
/* FOOTER */

.footer,
#itens {
  border-image: linear-gradient(0.25turn, #ff0505, #770101, #ff0505);

}
footer .logoFooter {
  height: 60%;
  align-self: center;
}
.topo {
  color: #ff0505;
  border: solid 3px rgba(59, 56, 56, 0.815);
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.267);
}
.historico h3,
.historico p a,
.mySlides p a,
.mySlides2 p a {
  color: #ff0505;
  text-decoration: none;
}
