/* SOBRE */
.texto {
  columns: 250px 2;
}

/* FIM SOBRE */
@media screen and (max-width: 576px) {
  .texto{
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .texto{
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .texto p {
    width: 100%;
    margin-bottom: 0rem;
  }
}
