.home{
  display: flex;
  height: 450px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.videoHome{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
}
@media screen and (max-width: 576px) {
  .home{
    height: 300px;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .home{
    height: 350px;
  }
 
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .home{
    height: 400px;
  }
  
 
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .home{
    height: 450px;
  }
  
}
@media screen and (min-width: 1400px) and (max-width: 1700px) {
  .home{
    height: 550px;
  }
  
}
@media screen and (min-width: 1701px)  {
  .home{
    height: 600px;
  }
  

}