/* VIDEO E IMAGENS */

.apresentacao {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
  gap: 0.4rem;
}
.apresentacao iframe {
  width: 65%;
  height: 24rem;
  border-radius: 15px;
}
.apresentacao .img1 {
  width: 16%;
  height: auto;
  border-radius: 15px;
}
.apresentacao .img2 {
  width: 16%;
  height: auto;
  border-radius: 15px;
}
/* FIM VIDEO E IMAGENS */
@media screen and (max-width: 576px) {
  .apresentacao {
    margin-top: 0px;
  }
  .apresentacao iframe {
    display: block;
    width: 100%;
    border-radius: 0;
    height: 14rem;
  }

  .apresentacao .img1,
  .img2 {
    display: none;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .apresentacao {
    margin-top: 0px;
  }
  .apresentacao iframe {
    display: block;
    width: 100%;
    border-radius: 0;
    height: 20rem;
  }

  .apresentacao .img1,
  .img2 {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .apresentacao {
    gap: 0.4rem;
  }
  .apresentacao iframe {
    width: 65%;
    height: 20rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  
}
@media screen and (min-width: 1400px) and (max-width: 1699px) {
  .apresentacao {
    gap: 0.5rem;
  }
  .apresentacao iframe {
    width: 67%;
    height: 28rem;
    border-radius: 15px;
  }

  .apresentacao .img1 {
    width: 15%;
    height: 28rem;
    border-radius: 15px;
  }
  .apresentacao .img2 {
    width: 15%;
    height: 28rem;
    border-radius: 15px;
  }

}
@media screen and (min-width: 1700px){
  .apresentacao {
    gap: 1rem;
  }
  .apresentacao iframe {
    width: 65%;
    height: 32rem;
    border-radius: 15px;
  }

  .apresentacao .img1 {
    width: 15%;
    height: 32rem;
    border-radius: 15px;
  }
  .apresentacao .img2 {
    width: 15%;
    height: 32rem;
    border-radius: 15px;
  }

}
