/* FOOTER */
footer{
  background-repeat: no-repeat;
  background-size: cover;
}
.footer {
  display: flex;
  width: 100%;
  height: 200px;
  border-top: 3px solid transparent;
  border-image-slice: 1;
}
.linkAssinatura{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 1px solid white;
  text-decoration: none;
  color: white;
  gap: 8px;
  padding: 0.5rem 0;
}
.linkAssinatura img{
  width: 10%;
}
footer .logoFooter {
  height: 60%;
  align-self: center;
  animation: FooterLogo 50s ease-in-out infinite;
  margin-left: 15%;
}
footer .logoFooterRP {
  height: 85%;
  align-self: center;
  animation: FooterLogo 50s ease-in-out infinite;
  margin-left: 15%;
}
footer .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  margin-top: 1%;
  margin-left: 18%;
}
footer .links ul {
  height: 60%;
  gap: 10%;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
footer .links li {
  display: flex;
  justify-content: start;
}
footer .links li .bi {
  color: white;
  font-size: 1.2rem;
}
footer .links li a,
footer .links li p {
  text-decoration: none;
  color: #bbb;
  margin-left: 8px;
  font-size: 1rem;
}
footer .links li a:hover,
footer .links li p:hover {
  color: #ffffff;
}
footer .h3 {
  color: white;
  font-size: 1.4rem;
}
.topo {
  text-align: center;
  background-color: white;
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.688rem;
  width: 2.4rem;
  height: 2.5rem;
  right: 1rem;
  bottom: 2rem;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  transform: translateY(100%);
  border-radius: 50%;
  box-shadow: 2px 2px 15px 2px rgba(0, 0, 0, 0.342);
  z-index: 500;
}
.topo.show {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
}
/* FIM FOOTER  */
@media screen and (max-width: 576px) {
  .linkAssinatura{
    padding: 0rem 0;
  }
  .linkAssinatura img{
    width: 100px;
  }
  .footer {
    flex-direction: column;
    height: 300px;
  }
  .footer .logoFooter {
    margin: 6% 0;
    height: 30%;
  }
  .footer .logoFooterRP {
    margin: 4% 0;
    height: 45%;
  }
  .footer .links {
    height: 45%;
    margin-left: 10%;
    margin-top: 0;
    padding-bottom: 1rem;
  }
  .footer .links ul {
    width: 70%;
    height: 80%;
  }
  .topo {
    right: 1rem;
    bottom: 1rem;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .linkAssinatura{
    padding: 0rem 0;
  }
  .linkAssinatura img{
    width: 100px;
  }
  .footer {
    flex-direction: column;
    height: 300px;
  }
  .footer .logoFooter {
    margin: 6% 0;
    height: 35%;
  }
  .footer .logoFooterRP {
    margin: 3% 0;
    height: 45%;
  }
  
  .footer .links {
    height: 45%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 2rem;
  }
  .footer .links ul {
    width: 80%;
    height: 80%;
  }
  .topo{
    right: 0.5rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  
  .linkAssinatura img{
    width: 100px;
  }
  .footer .logoFooter {
    height: 55%;
    margin-left: 10%;
  }
  .footer .logoFooterRP {
    margin-left: 10%;
  }
  
  .footer .links {
    margin-left: 10%;
    gap: 10%;
    margin-top: 2.5%;
  }
  .footer .links ul {
    height: 60%;
    gap: 10%;
  }
  .topo{
  right: 1rem;
  bottom: 1rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .linkAssinatura{
    padding: 0.5rem 0;
  }
  .linkAssinatura img{
    width: 10%;
  }
  .footer .logoFooter {
    height: 60%;
    margin-left: 20%;
  }
  .footer .links {
    margin-left: 20%;
    gap: 10%;
    margin-top: 2%;
  }
  .footer .links ul {
    height: 60%;
    gap: 10%;
  }
  
}
@media screen and (min-width: 1400px) and (max-width: 1699px) {
  .footer .logoFooter {
    height: 60%;
    margin-left: 20%;
  }
  .footer .links {
    margin-left: 20%;
    gap: 10%;
    margin-top: 2%;
  }
  .footer .links ul {
    height: 70%;
    gap: 10%;
  }
  
}
@media screen and (min-width: 1700px){
  .footer .logoFooter {
    height: 60%;
    margin-left: 20%;
  }
  .footer .links {
    margin-left: 28%;
    gap: 10%;
    margin-top: 1.5%;
  }
  .footer .links ul {
    height: 70%;
    gap: 10%;
  }
}

/*animações*/

.hidden {
  opacity: 0;
  filter: blur(15px);
  transform: translate(-100%, 0);
  transition: all 0.5s;
}
.show {
  opacity: 1;
  filter: blur(0);
  transition: all 0.5s;
}

@keyframes FooterLogo {
  0% {
    transform: translate(0px, 0px);
    rotate: 0deg;
  }
  20% {
    transform: translate(-10px, -15px);
    rotate: -3deg;
  }
  40% {
    transform: translate(5px, 15px);
    rotate: 3deg;
  }
  60% {
    transform: translate(-5px, 15px);
    rotate: -3deg;
  }
  80% {
    transform: translate(5px, -15px);
    rotate: 3deg;
  }
  100% {
    transform: translate(0px, 0px);
    rotate: 0degg;
  }
}
