.buttons {
  display: flex;
  gap: 4px;
  position: absolute;
  left: 2%;
  top: 2%;
  z-index: 20;
}
.buttons > button {
  border: none;
  text-align: center;
  padding: 0.8rem ;
  border-radius: 50%;
  color: white;
  font-weight: bolder;
  cursor: pointer;
}
.buttons > .buttonEdit {
  background-color: rgba(0, 143, 226, 0.959);
}
.buttonEdit:hover {
  background-color: rgb(3, 121, 189);
}
.buttons > .buttonDel {
  background-color: rgb(192, 2, 2);
}
.buttonDel:hover {
  background-color: rgb(255, 0, 0);
}
