/* NOTICIAS */
.ondaTop {
  display: block;
  position: absolute;
  top: -25px;
  left: 0;
  width: 100%;
  height: 120px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotatex(180deg);
}
.ondaBottom {
  display: block;
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 100%;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotateY(180deg);
}

.tituloNot {
  font-size: 1.563rem;
  text-transform: uppercase;
  width: 80%;
}
.section-news a {
  text-decoration-color: rgb(182, 186, 190);
  color: rgb(252, 252, 252);
}
.fade {
  animation-name: fade;
  animation-duration: 0s;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}



.active {
  border: 2px solid #0575e6;
}

/* FIM NOTICIAS */
@media screen and (max-width: 576px) {
  .section-news {
    flex-direction: column;
    padding: 0rem 1rem;
    padding-top: 5rem;
    padding-bottom: 7rem;
  }
  .ondaTop {
    top: -30px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .ondaBottom {
    bottom: -9px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .texto {
    display: block;
  }
  .texto p {
    width: 100%;
    margin-bottom: 1rem;
  }
  .projetos {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  footer {
    flex-direction: column;
    height: 350px;
  }
  footer .logoFooter {
    margin: 10% 0;
    height: 30%;
  }
  footer .links {
    height: 80%;
    margin-left: 5%;
    margin-top: 0;
  }
  footer .links ul {
    height: 70%;
  }
}

@media screen and (min-width: 577px) and (max-width: 767px) {
  .section-news {
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .ondaTop {
    top: -30px;
    height: 100px;
    background-repeat: no-repeat;
  }
  .ondaBottom {
    bottom: -9px;
    height: 100px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .ondaTop {
    top: -2px;
    height: 100px;
  }
  .ondaBottom {
    bottom: -9px;
    height: 110px;
  }

  .card1 h2 {
    left: 5%;
    top: 10%;
  }
  .card1 p {
    width: 90%;
    font-size: 1rem;
    left: 5%;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .ondaTop {
    top: -26px;
    height: 130px;
  }
  .ondaBottom {
    bottom: -9px;
    height: 110px;
  }
}
@media screen and (min-width: 1400px) and (max-width: 1699px) {
  .section-news {
    gap: 1%;
  }
  .ondaTop {
    top: -15px;
    height: 130px;
  }
  .ondaBottom {
    bottom: -6px;
    height: 130px;
  }

}
@media screen and (min-width: 1700px) {
  .section-news {
    padding-top: 5rem;
  }
  .ondaTop {
    top: -2px;
    height: 140px;
  }
  .ondaBottom {
    bottom: 0px;
    height: 140px;
  }


  

}
